<div class="row">
    <div class="col-4">
        <h2>Text pipes</h2>
        <hr>
        <app-text [text]="'teXt tO tEsT thE PiPeS'" />
    </div>
    <div class="col-4">
        <h2>Number pipes</h2>
        <hr>
        <app-number [value]="123456.789" />
    </div>
    <div class="col-4">
        <h2>Date pipes</h2>
        <hr>
        <app-date />
    </div>
    <div class="col-4">
        <h2>Json pipes</h2>
        <hr>
        <app-json />
    </div>
    <div class="col-4">
        <h2>Key-Value pipes</h2>
        <hr>
        <app-key-value />
    </div>
    <div class="col-4">
        <h2>Slice pipes</h2>
        <hr>
        <app-slice />
    </div>
    <div class="col-4">
        <h2>I18n Select pipes</h2>
        <hr>
        <app-i18n-select />
    </div>
    <div class="col-4">
        <h2>I18n Plural pipes</h2>
        <hr>
        <app-i18n-plural />
    </div>
    <div class="col-4">
        <h2>Async pipes</h2>
        <hr>
        <app-async />
    </div>
</div>